<!DOCTYPE html>
<html lang='en'>
<link rel="stylesheet" type="text/css" href="../css/CSS-Styling.css">
    <head>
        <title>Browse</title>
    </head>

    <body>
        <h3>Browse images</h3>

        <div class="searchbar">
            <p>
                Search:
            </p>
        </div>
        <div class="results">
            Results list
        </div>
    </body>
</html>