<div class="text-white d-flex justify-content-left">
    <a href="/logout" class="btn btn-info">Logout</a>
</div>

<a href="/postimage" class="btn btn-info">Post an Image</a><br><br>

<div class="text-white d-flex justify-content-center">
    <p>
        <div class="md-form active-cyan active-cyan-2 mb-3 w-50">
            <input class="form-control" id="search" type="text" placeholder="Enter search terms here" aria-label="Search">
        </div>
    </p>
</div>

<div class="d-flex justify-content-center">
    <div class="text-white border border-info rounded bg-dark w-75 p-3">
        Results:
    </div>
</div>