<!DOCTYPE html>

<div class="jumbotron bg-danger">
    <div class="container">
        <h1 class="text-light">Error!</h1>
    </div>
</div>

<div class="container">
    <h2 class="text-dark">{{error}}</h2>
</div>
