<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../css/imagepost.css">
<head>
    <meta charset="UTF-8">
    <title>Image Title</title>
</head>
<body>

<h3>
    Post Title
</h3>

<div class="author">
<p>
    Post by: <i>Author's Name</i>
</p>
</div>

<div class="time">
<p>
    Time posted: 00:00
</p>
</div>

<div class="imagepost">
<img src="#" alt="Image Posted Here"/>
</div>

</body>
</html>