<div class="d-flex justify-content-center">
  <div class="text-center border border-info rounded bg-dark w-25 p-3">
    <a class="btn btn-info" href="login" role="button">Login</a><br><br>
    <a class="btn btn-info" href="registration" role="button">Register</a>
  </div>
</div>