<div class="text-white d-flex justify-content-left">
    <a href="/logout" class="btn btn-info">Logout</a>
</div>

<div class="d-flex justify-content-center">
    <div class="text-white border border-info rounded bg-dark w-75 p-3">
        <a href="/postimage" class="btn btn-info">Post an Image</a>
        <a href="/browse" class="btn btn-info">Browse</a>
        <p>Recent Posts</p>

        
    </div>
</div>giut