<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <head>
        <title>Home</title>
    </head>

    <body>
        <div>
            <p>Search for a post:</p>
            <input type="search" placeholder="Enter search term here.">
        </div>

        <div class="recentposts">
            <p>Recent Posts</p>
        </div>

    </body>
</html>