<div class="container center-header">
<div class="jumbotron header">
<h1>
    Welcome!
</h1>
</div>
</div>

<div class="container">
    <p>
        Please login or register below!
    </p>
</div>

<div class="form">
    <form action="/register" method='POST'>
        <label for="username">Username:
        <input type="username" id="username" name="username" required placeholder="Username"/><br/><br/></label>
        <label for="password">Password:
        <input type="password" id="password" name="password" required placeholder="Password"/><br/><br/></label>
        <input type="submit" value="Submit"/>
    </form>
    <p></p>
    <form action="register">
        <button>Register</button>
    </form>
</div>