<div class="container text-white">
    <p>
        Please login or register below!
    </p>
</div>

<div class="d-flex justify-content-center">
    <div class="text-white border border-info rounded bg-dark w-50 p-4">
        <form action="/register" method='POST'>
            <label for="username">Username:
            <input type="username" id="username" name="username" required placeholder="Username"/><br/><br/></label>
            <p><label for="password">Password:
            <input type="password" id="password" name="password" required placeholder="Password"/><br/></label></p>
            <input type="submit" value="Submit" class="btn btn-info"/>
        </form>
        <p></p>
        <a href="registration">
            <button class="btn btn-info">Register</button>
        </a>
    </div>
</div>