<div class="text-white d-flex justify-content-left">
    <a href="/logout" class="btn btn-info">Logout</a>
</div>

<p class="text-white">
    Upload your photo below!
</p>

<div class="d-flex justify-content-center">
    <div class="text-white border border-info rounded bg-dark w-100 p-4">
        <form action="/postimage" method="POST" enctype="multipart/form-data">
            <label for="imageheader">Image Header:
                <input type="text" id="imageheader" name="imageheader" required placeholder="New Header"><br><br></label>
            <label for="image">Upload Image Here:
                <input accept="image/*" type="file" id="image" name="image" required placeholder="Upload Image Here"><br><br></label>
            <label for="imagedescription">Image Description:
                <input type="text" id="imagedescription" name="imagedescription" required placeholder="Image Description"><br><br></label>
            <label for="usepolicy">
                I accept the <a href="#">Acceptable Use Policy</a> for uploading images.
                <input type="checkbox" id="usepolicy" name="usepolicy" required><br><br></label>
            <p><input class="btn btn-info" type="submit"></p>
        </form>
    </div>
</div>