<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../css/CSS-Styling.css">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<div class="center-header">
<div class="header">
<h1>
    Registration
</h1>
</div>
</div>

<p>
    Please enter the following information.
</p>

<div class="form">
<form action="/register" method='POST'>
    <label for="newusername">New Username:
    <input type="username" id="newusername" name="newusername" required placeholder="New Username"/><br/><br/></label>
    <label for="email">E-Mail:
    <input type="email" id="email" name="email" placeholder="example@email.com" required/><br/><br/></label>
    <label for="createpassword">Create Password:
    <input type="password" id="createpassword" name="createpassword" required placeholder="New Password"/><br/><br/></label>
    <label for="confirmpassword">Confirm Password:
    <input type="password" id="confirmpassword" name="confirmpassword" required placeholder="Confirm Password"/><br/><br/></label>
    <label for="confirmage">I am 13+ years old.
    <input type="checkbox" id="confirmage" name="confirmage" required/><br/><br/></label>
    <label for="TOS">
        I accept the <a href="#">Terms of Service and Privacy agreement</a>.
    <input type="checkbox" id="TOS" name="TOS" required></label><br/><br/>
    <input value="Submit" type="submit"/>
</form>
</div>

</body>
</html>