<p class="text-white">
    Please enter the following information.
</p>

<div class="d-flex justify-content-center">
    <div class="text-white border border-info rounded bg-dark w-45 p-4">

        <form action="/registration/register" method="POST" >        
            <p><label for="newusername">New Username:
                <input type="username" id="newusername" name="newusername" required placeholder="New Username"><br><br></label></p>
            <p><label for="email">E-Mail:
                <input type="email" id="email" name="email" placeholder="example@email.com" required><br><br></label></p>
            <p><label for="createpassword">Create Password:
                <input type="password" id="createpassword" name="createpassword" required placeholder="New Password"><br><br></label></p>
            <p><label for="confirmpassword">Confirm Password:
                <input type="password" id="confirmpassword" name="confirmpassword" required placeholder="Confirm Password"><br><br></label></p>
            <p><label for="confirmage">I am 13+ years old.
                <input type="checkbox" id="confirmage" name="confirmage" required><br><br></label></p>
            <label for="TOS">
                I accept the <a href="#">Terms of Service and Privacy agreement</a>.
                <input type="checkbox" id="TOS" name="TOS" required></label><br><br>
            <input value="Submit" type="submit" class="btn btn-info">
        </form>
        
    </div>
</div>
